.Landing {
  background-image: url("../../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
}

.introduction {
  padding: 25vh 0vh;
}

.intro-one {
  padding: 3vh 0vh;
  font-size: 500%;
  font-family: "Bungee Shade", cursive;
}

.intro-two {
  padding: 3vh 0vh;
  font-size: 300%;
  font-family: "Bungee Shade", cursive;
}
