.landing-text {
  padding: 3vh 0vh;
  font-size: 300%;
  font-family: "Bungee Shade", cursive;
  color: black;
}

.landing-name {
  padding: 3vh 0vh;
  font-size: 300%;
  font-family: "Lemon", cursive;
  color: black;
}

.name-color-one {
  color: #354f52;
}

.name-color-two {
  color: #52796f;
}
