.Contact {
}

.icon-links {
  padding: 10rem 0rem;
  /* background-image: url("../../images/.png");
  background-size: 100% auto;
  background-repeat: no-repeat; */
}

.icons {
  height: 20rem;
  width: 20rem;
  padding: 1.5rem 1.5rem;
}
