body {
  font-family: "Inter", sans-serif;
  background-color: #83aca6;
}

/* 
dark jungle green: 182523 (navbar)
dark slate gray: 314946 (portfolio links)
hookers green: 496E69
steel teal: 62938C
morning blue: 83ACA6 (background)
opal: A9C6C2
azure: CEDEDC (nav)
cultured: F3F7F6 (logo)
*/
