.Nav {
  height: 12vh;
  background-color: #182523;
}

#logo {
  padding: 2vh 0vh;
  font-family: "Lemon", cursive;
  font-size: 350%;
  color: #f3f7f6;
}

.headers {
  padding: 2vh 2vh;
  font-family: "Oswald", sans-serif;
  font-size: 200%;
  color: #cededc;
}
